// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

md-card{
  min-height: 100%;
  min-width: 100%;
}
md-switch.custom-center{
  text-align: center;
  margin: 0 ;
  .md-container{
    margin: auto;
  }
}
.text-right{
  text-align: right;
}
