  <md-dialog aria-label="Editing Profile"  ng-cloak>
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Editing Profile</h2>
          <span flex></span>
        </div>
      </md-toolbar>
      <input type="hidden" ng-model="profile_editing.id">
      <input type="hidden" ng-model="profile_editing.image_id">
      <md-dialog-content >
        <md-content layout-padding layout="row">
          <div layout="column">
            <md-input-container>
              <label>First Name</label>
              <input ng-model="profile_editing.firstname" type="text">
            </md-input-container>
            <md-input-container>
              <label>Sur Name</label>
              <input ng-model="profile_editing.surname" type="text">
            </md-input-container>
          </div>
          <div layout="column">
            <div class="button" ngf-select="upload($file)">
              <p>Upload on file select</p>
              <img ng-src="{{uploaded}}" class="md-contact-avatar">
            </div>


          </div>
        </md-content>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
        <md-button class="md-raised md-default" ng-click="cancel()">Cancel</md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>

